name: integration

env:
  NODE_OPTIONS: '--max_old_space_size=6144'

on:
  pull_request:
    branches:
      - master

jobs:
  integration:
    runs-on: ubuntu-latest

    if: "! contains(toJSON(github.event.commits.*.message), '[skip actions]')"

    steps:
      - uses: 8BitJonny/gh-get-current-pr@1.4.0
        id: PR
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          sha: ${{ github.event.pull_request.head.sha }}
          filterOutClosed: true

      - name: Checkout repo
        uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: 9

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'pnpm'
      
      - name: Install dependencies
        run: |
          pnpm i
      
      - name: Build packages
        run: |
          pnpm run -r build

      - name: Lint packages
        run: |
          pnpm run -r lint
